@font-face {
	font-family:  MisterTtocSHandwritingFont;
	src:  url(fonts/MisterTtocSHandwritingFont.ttf);
}

body {
  background-color:  lightgray;
	background-image:  url("images/background-lightgray.png");
}

#wrapper {
  width:  1200px;
  height:  auto;
  margin-right:  auto;
  margin-left:  auto;
  margin-top:  10px;
  margin-bottom:  10px;
  background-color:  #BBBDBF;
  font-family:  MisterTtocSHandwritingFont;
}

#demo-content {
	text-align:  center;
}

#demo-content h3 {
	font-size:  50px;
	margin-top:  0px;
	margin-bottom:  0px;
}

#demo-content p {
	font-size:  30px;
}

header {
  width:  1180px;
  height:  210px;
  padding:  10px;
  float:  left;
  background-color:  #BBBDBF;
}

#logo {
  width:  260px;
  height:  200px;
  padding-top:  15px;
  padding-bottom:  15px;
  margin-right:  10px;
  float:  left;
}

#header-text {
  width:  470px;
  height:  210px;
  float:  left;
  background-color:  #BBBFBD;
}

#header-text h1 {
	padding:  0px;
	font-size:  70px;
	text-align:  center;
	margin-top:  10px;
}

#header-text h2 {
	font-size:  40px;
	text-align:  center;
}

#links {
  width:  440px;
  height:  250px;
  float:  left;


}

#link-box {
  width:  100px;
  height:  100px;
  margin-bottom:  10px;
  margin-left:  10px;
  float:  left;
  background-color:  white;
}

#links a:hover {
	padding:  10px;
}

nav {
  width:  1178px;
  height:  80px;
  padding:  10px;
  background-color:  white;
  float:  left;
	border-right:  1px solid #BBBFBD;
	border-left:  1px solid #BBBFBD;
}

nav ul {
  margin-right:  10px;
  display:  inline;
  font-size:  50px;
  list-style-type:  none;
  padding:  0px;
}

nav li {
  width:  170px;
  height:  60px;
  text-align:  center;
  background-color:  #BBBDBF;
  display:  inline-block;
  font-size:  50px;
  padding:  10px;
}

nav a {
	text-decoration:  none;
	color:  black;
}

nav a:hover {
	color:  white;
	font-size:  55px;
}

main {
  width:  1200px;
  height:  auto;
  background-color:  #BBBDBF;
  float:  left;

}

main h1 {
  font-size:  70px;
  padding:  0px;
  text-align:  center;
}

main p {
  font-size:  35px;
  text-align:  center;
}

main h2 {
  font-size:  50px;
  text-align:  center;
}

#about-box {
  width:  578px;
  height:  678px;
  float:  left;
  padding:  10px;
	border:  1px solid black;
	border-radius:  3px;
	background-color:  darkgray;
}

#tweets-box {
  width:  548px;
  height:  673px;
  float:  left;
  padding-right:  25px;
  padding-left:  25px;
  padding-bottom:  25px;
	border:  1px solid black;
	border-radius:  3px;
	background-color:  darkgray;
}

#gameDiv {
	width:  588px;
	height:  800px;
	padding:  5px;
	background-color:  darkgray;
	border:  1px solid black;
	border-radius:  3px;
	text-align:  center;
	float:  left;
}

#gameDiv ul {
	list-style-type:  none;
	margin:  0px;
	padding:  0px;
}

#gameDiv h3 {
	font-size:  60px;
	margin-top:  10px;
	margin-bottom:  10px;
}

#gameDiv p {
	font-size:  35px;
	margin:  10px;
}

#gameDiv a {
	font-size:  30px;
	color:  blue;
}

#gameDiv a:hover {
	background-color:  white;
}

#gameList {
	/*background-color:  #969696;
	border:  1px solid black;*/
	border-radius:  3px;
	line-height:  .1;
}

#gameList h3 {
	font-size:  40px;
	text-align:  center;
}

#gameList a {
	padding:  5px;
}

#gameList a:hover {
	background-color:  white;
}

#gamesComingSoon {
	width:  1174px;
  background-color:  darkgray;
	border:  3px solid black;
	border-radius:  3px;
  float:  right;
  line-height:  .7;
	padding:  10px;
}

#gamesComingSoon h3 {
	font-size:  40px;
	text-align:  center;
}

a {
	text-decoration:  none;
}
