@font-face {
	font-family:  MisterTtocSHandwritingFont;
	src:  url(fonts/MisterTtocSHandwritingFont.ttf)
}

h1 {
	font-family:  MisterTtocSHandwritingFont;
	text-align:  center;
	background-color:  white;
	font-size:  100px;
}

h3 {
	font-family:  MisterTtocSHandwritingFont;
	text-align:  center;
	font-size:  50px;
}
	
p {
	font-family:  MisterTtocSHandwritingFont;
	font-size:  50px;
}

details {
	font-size:  30px;
	cursor:  pointer;
}

li {
	font-family:  MisterTtocSHandwritingFont;
	font-size:  50px;
}

#secretLink {
	color:  lightgray;
}

#secretLink:hover {
	color:  lightgray;
	background-color:  lightgray;
}

#homeButton:hover {
	background-color:  gray;
}

#mainDiv {
	background-color:  lightgray;
	text-align:  center;
	font-family:  MisterTtocSHandwritingFont;
	margin-right:  250px;
	margin-left:  250px;
}

#horizontalButtons {
	float:  left;
	width:  100%;
	padding:  0;
	margin:  0;
	list-style-type:  none;
}

#horizontalButton {
	display:  inline;
	border:  3px solid black;
	font-size:  70px;
	background-color:  white;
	border-radius:  3px;
}

#horizontalButton:hover {
	background-color:  gray;
}
	
body {
	background-size:  200px 150px;
	background-color:  gray;
}

a {
	text-decoration:  none;
	color:  blue;
	font-size:  30px;
}

a:hover {
	background-color:  yellow;
}

a:visited {
	color:  blue;
}

a:link {
	color:  blue;
}

#horizontalButtonLinks {
	text-decoration:  none;
}

#horizontalButtonLinks:visited {
	color:  black;
}

#horizontalButtonLinks:hover {
	background-color:  gray;
}

#horizontalButtonLinks:link {
	color:  black;
}

#gameSpan {
	background-color:  #969696;
	border:  1px solid black;
	border-radius:  3px;
	width:  500px;
}

#gameSpanLeft {
	background-color:  #969696;
	border:  1px solid #000000;
	border-radius:  3px;
	width:  693px;
	height:  1100px;
    float:  left;
}

#gameSpanRight {
	background-color:  #969696;
	border:  1px solid black;
	border-radius:  3px;
	width:  694px;
	height:  1100px;
    float:  right;
}

#gamesComingSoon {
    background-color:  #969696;
	border:  3px solid black;
	border-radius:  3px;
	width:  1387px;
    clear:  right;
}

#gameProgressBar {
	background-color:  darkgray;
	border:  1px solid black;
	color:  green;
	font-size:  30px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}