@font-face {
	font-family:  MisterTtocSHandwritingFont;
	src:  url(fonts/MisterTtocSHandwritingFont.ttf)
}

#wrapper {
	margin-right:  auto;
	margin-left:  auto;
	width:  1180px;
	padding:  10px;
	/*background-color:  lightgray;*/
}

#nav {
	float:  left;
	width:  1200px;
}

#header {
	float:  left;
	width:  1200px;
	background-color:  lightgray;
}

#main {
	width:  1200px;
	float:  left;
	background-color:  lightgray;
		margin-bottom:  10px;
}

#about {
	width:  600px;
	height:  550px;
	float:  left;
	background-color:  darkgray;
}

#discordWidget {
	width: 600px;
	height:  500px;
	float:  left;
	background-color:  darkgray;
	padding-top:  25px;
	padding-bottom:  25px;
}

body {
  font-family:  MisterTtocSHandwritingFont;
  text-align:  center;
  background-image:  url("images/background.png");
  background-attachment:  fixed;
}

ul.topButtons {
  list-style-type: none;
  background-color:  lightgray;
}

a.topButtons {
  text-decoration: none;
  font-size:  100px;
  color:  goldenrod;
}

li.topButtons {
  display:  inline;
  padding:  10px;
}

a.topButtons:visited {
  color:  goldenrod;
}

a.topButtons:hover {
  color:  white;
  background-color:  darkgray;
}

a.topButtons:active {
  background-color: black;
}

h1 {
  font-size:  80px;
}

h2 {
  font-size:  70px;
}

p {
  font-size:  35px;
}

div.gameDiv {
	background-color:  darkgray;
	margin-left:  50px;
	margin-right:  50px;
	margin-bottom:  10px;
}

a.gameLink {
	font-size:  35px;
	text-decoration:  none;
	color:  white;
}

a.gameLink:hover {
	background-color:  goldenrod;
	color:  white;
}
